/*
Very Dark Blue: #111517
Dark Grey: #858585
Very Light Grey: #fafafa
*/
*{
    box-sizing: content-box;
    font-family: 'Nunito Sans', sans-serif;
}

h1{
    color: #111517;
}

.anchor{
    text-decoration: none;
    color: #111517;
}
.anchor:hover{
    color: #111517;
}

.card-img-top{
    height: 225px;
}
