/*@charset "UTF-8";*/
@font-face {
    font-family: NunitoSans-Black;
    src: url("fonts/Nunito_Sans/NunitoSans-Black.ttf");
}
@font-face {
    font-family: NunitoSans-Bold;
    src: url("fonts/Nunito_Sans/NunitoSans-Bold.ttf");
}
@font-face {
    font-family: NunitoSans-ExtraBold;
    src: url("fonts/Nunito_Sans/NunitoSans-ExtraBold.ttf");
}
@font-face {
    font-family: NunitoSans-ExtraLight;
    src: url("fonts/Nunito_Sans/NunitoSans-ExtraLight.ttf");
}
@font-face {
    font-family: NunitoSans-Light;
    src: url("fonts/Nunito_Sans/NunitoSans-Light.ttf");
}
@font-face {
    font-family: NunitoSans-Regular;
    src: url("fonts/Nunito_Sans/NunitoSans-Regular.ttf");
}
@font-face {
    font-family: NunitoSans-SemiBold;
    src: url("fonts/Nunito_Sans/NunitoSans-SemiBold.ttf");
}
/*@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');*/
/*
Very Dark Blue: #111517
Dark Grey: #858585
Very Light Grey: #fafafa
*/
*{
    box-sizing: content-box;
}

.navbar{
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}

h1{
    color: #111517;
    font-family: NunitoSans-Black;
}

.dropdown{
    font-family: NunitoSans-SemiBold;
    padding: 18px;
}
.dropdown-menu{
    font-family: NunitoSans-SemiBold;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.anchor{
    text-decoration: none;
    color: #111517;
}
.anchor:hover{
    color: #111517;
}

.card-img-top{
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.info-col1{
    font-family: NunitoSans-SemiBold;
}
.info-col2{
    font-family: NunitoSans-Light;
}