/*
    Light Theme
Very Dark Blue: #111517
Dark Grey: #858585
Very Light Grey: #fafafa
*/
/*
    Dark Theme
(Dark Mode Elements) - Dark Blue: #2b3945
(Dark Mode Background) - Very Dark Blue: #202c37
Very Dark Blue: #111517
Dark Grey: #858585
Very Light Grey: #fafafa
*/
*{
    box-sizing: content-box;
    font-family: 'Nunito Sans', sans-serif;
}

.light{
    --theme-bg-color: #fafafa;
    --theme-font-color: #111517;
    --theme-bg-elements: white;
    background-color: var(--theme-bg-color);
    color: var(--theme-font-color);
}
.dark{
    --theme-bg-color: #202c37;
    --theme-font-color: white;
    --theme-bg-elements: #2b3945;
    background-color: var(--theme-bg-color);
    color: var(--theme-font-color);
}
.theme-color{
    color: var(--theme-font-color);
    background-color: var(--theme-bg-elements);
    border-color: var(--theme-bg-elements);
}

.navbar{
    background-color: var(--theme-bg-elements);
    color: var(--theme-font-color);
}
.search{
    background-color: var(--theme-bg-elements);
    color: var(--theme-font-color);
}
.search::placeholder {
    background-color: var(--theme-bg-elements);
    color: var(--theme-font-color);
}
.dropdown > .dropdown-item,
select > option {
    background-color: var(--theme-bg-elements);
    border-color: var(--theme-bg-elements);
    color: var(--theme-font-color);
    width: 300px;
    font-size: 12px;
}

.anchor{
    text-decoration: none;
    color: var(--theme-font-color);
}
.anchor:hover{
    color: var(--theme-font-color);
}

.card-body, .card{
    background-color: var(--theme-bg-elements);
    border-color: var(--theme-bg-elements);
}

.card-img-top{
    height: 200px;
}